/* Extra Styles to be bundled into the Inspector */
:root, :host {
  --un-bg-opacity: 100%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
